@page
@using System.Data;
@model Bagrot_HTML.Pages.AdminModel
@{
    ViewData["Title"] = "Admin";
}
<link href="~/css/stylesheet.css" rel="stylesheet" />
<link href="~/css/adminstylesheet.css" rel="stylesheet" />

<div class="box">
    <table>
        <thead>
            <tr>
                @foreach (string displayColumn in Model.displayColumns)
                {
                    <th scope="col">@displayColumn</th>
                }
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (DataRow row in Model.DataTableUsers.Rows)
            {
                <tr>
                    @foreach (DataColumn column in Model.DataTableUsers.Columns)
                    {
                        <td>@row[column]</td>
                    }
                </tr>
            }
        </tbody>
        <tfoot class="table-group-divider">
            <td class="table table-info" scope="row" colspan="100%" style="text-align:center">
                Total @Model.DataTableUsers.Rows.Count users
            </td>
            <td class="table table-info" scope="row" colspan="100%" style="text-align:center">
                @* @Model.sqlQueryString *@
            </td>
        </tfoot>
    </table>
</div>