@page
@model Bagrot_HTML.Pages.Carbohydrates_and_SugarModel
@{
    ViewData["Title"] = "Carbohydrates and Sugar";
}
<link href="~/css/stylesheet.css" rel="stylesheet" />
<main>
    <div>
        <h1 style="font-size:3vw" class="pageTitle">Carbohydrates and Sugar</h1>
        <hr />
    </div>
    <div class="box">
        <h1>What Are Carbohydrates?</h1>
        <p>Carbohydrates are the body's most important and readily available source of energy. They're a necessary part of a healthy diet for both kids and adults.<br /><br /><br />The two main forms of carbs are:</p>
        <ol>
            <li><p><b>simple carbohydrates</b> (or simple sugars): including fructose, glucose, and lactose, which also are found in nutritious whole fruits</p></li>
            <li><p><b>complex carbohydrates</b> (or starches): found in foods such as starchy vegetables, whole grains, rice, and breads and cereals</p></li>
        </ol>
        <p>So how does the body process carbs and sugar? All carbohydrates are broken down into simple sugars, which are absorbed into the bloodstream. As the sugar level rises, the pancreas releases the hormone insulin, which is needed to move sugar from the blood into the cells, where the sugar can be used as energy</p>
        <p>The carbs in some foods (mostly those that contain simple sugars and highly refined grains, such as white flour and white rice) are easily broken down and cause blood sugar levels to rise quickly.</p>
        <p>Complex carbs (found in whole grains), on the other hand, are broken down more slowly, allowing blood sugar to rise gradually. A diet that's high in foods that cause a rapid rise in blood sugar may increase a person's risk of developing health problems like diabetes.</p>
        <p>Some carbohydrate-dense foods are healthier than others. Good options include:</p>
        <ul>
            <li>whole-grain cereals</li>
            <li>brown rice</li>
            <li>whole-grain breads</li>
            <li>fruits</li>
            <li>vegetables</li>
            <li>low-fat dairy</li>
        </ul>
        <p>A healthy balanced diet for kids over 2 years old should include 50% to 60% of calories coming from carbohydrates. The key is to make sure that the majority of these carbs come from good sources and that added sugar is limited.</p>
    </div>
    <div class="box">
        <h1>Are Some Carbs Bad?</h1>
        <p>Carbohydrates have taken a lot of heat in recent years. Medical experts think eating too many refined carbs — such as the refined sugars in candy and soda, and refined grains like the white rice and white flour used in many pastas and breads — have contributed to the rise of obesity in the United States.</p>
        <p>How could one type of food cause such a big problem? The "bad" carbs (sugar and refined foods) are easy to get, come in large portions, taste good, and aren't too filling. So people tend to eat more of them than needed. And some are not needed at all — sodas and candy are "empty calories" that provide no nutrients.</p>
        <p>But this doesn't mean that all simple sugars are bad. Simple carbs are also found in many nutritious foods — like fruits, vegetables, and dairy products, which provide a range of essential nutrients that support growth and overall health. Fresh fruits, for example, contain simple carbs but also have vitamins and fiber.</p>
    </div>
    <div class="box">
        <h1>Why Are Complex Carbs Healthy?</h1>
        <p>The 2015–2020 Dietary Guidelines for Americans recommend eating grains, at least half of which should be complex carbs. Whole grains, like brown rice, oatmeal, and whole-grain breads and cereals, are the way to go. Diets rich in whole grains protect against diabetes and heart disease. And complex carbs:</p>
        <ul>
            <li>
                <p><b>Break down more slowly in the body:</b> Whole grains contain all three parts of the grain (the bran, germ, and endosperm), whereas refined grains are mainly just the endosperm. Whole grains give your body more to break down, so digestion is slower. When carbs enter the body more slowly, it's easier for your body to regulate them.</p>
            </li>
            <li>
                <p><b>Are high in fiber:</b> High-fiber foods are filling and, therefore, discourage overeating. Plus, when combined with plenty of fluid, they help move food through the digestive system to prevent constipation and may protect against gut cancers.</p>
            </li>
            <li>
                <p><b>Provide vitamins and minerals:</b> Whole grains contain important vitamins and minerals, such as B vitamins, magnesium, and iron.</p>
            </li>
        </ul>
        <p>Most school-age kids should eat four to six "ounce equivalents" from the grain group each day, at least half of which should come from whole grains. An "ounce equivalent" is like a serving — 1 slice of bread; 1 cup of ready-to-eat cereal; or a half cup of cooked rice, cooked pasta, or hot cereal.</p>
    </div>
    <div class="box">
        <h1>What About Sugar?</h1>
        <p>Foods that are high in added sugar (soda, cookies, cake, candy, frozen desserts, and some fruit drinks) also tend to be high in calories and low in nutrition. A high-sugar diet is often linked with obesity, and too many sugary foods can lead to tooth decay. The 2015–2020 Dietary Guidelines recommend that added sugar be less than 10% of total calories consumed.</p>
        <p>Instead of sugary options, offer healthier choices, such as fruit — a naturally sweet carbohydrate-containing snack that also provides fiber and vitamins that kids need.</p>
        <p>One way to cut down on added sugar is to ban soda and other sugar-sweetened beverages. Consider these facts:</p>
        <ul>
            <li>
                <p>Each 355-ml serving of a carbonated, sweetened soft drink has the equivalent of 10 teaspoons (49 ml) of sugar and 150 calories. Sweetened drinks are the largest source of added sugar in the daily diets of U.S. children.</p>
            </li>
            <li>
                <p>Drinking one 355-ml sweetened soft drink per day increases a child's risk of obesity.</p>
            </li>
            <li>
                <p>Acidity from sweetened drinks can erode tooth enamel and their high sugar content can cause dental cavities.</p>
            </li>
        </ul>
        <p>Instead of soda or juice drinks (which often have as much added sugar as soft drinks), serve low-fat milk, water, or 100% fruit juice. Note: Although there's no added sugar in 100% fruit juice, the calories from those natural sugars can add up. So limit juice to 118–177 ml for kids under 7 years old, and to no more than 237–355 ml for older kids and teens.</p>
    </div>
    <div class="box">
        <h1>How Can I Find Healthy Options?</h1>
        <p>
            It isn't always easy to tell which foods are good choices and which aren't. The Nutrition Facts on <a asp-area="" asp-page="/food labels">food labels</a> can help.<br /><br /><br />To figure out carbohydrates, look for these three numbers:
        </p>
        <ol>
            <li>
                <p><b>Total Carbohydrate:</b> This number, listed in grams, combines several types of carbohydrates: dietary fibers, sugars, and other carbs.</p>
            </li>
            <li>
                <p><b>Dietary Fiber:</b> Listed under Total Carbohydrate, dietary fiber itself has no calories and a high-fiber diet has many health benefits.</p>
            </li>
            <li>
                <p><b>Sugars:</b> Also listed under Total Carbohydrate. The Nutrition Facts label soon will make the distinction between natural sugars and added sugars. Natural sugars are found in such foods as fruit and dairy products. Snack foods, candy, and soda often have lots of added sugars. To see if a food has added sugar, check the ingredients list for sugar, corn syrup, or other sweeteners, such as dextrose, fructose, honey, or molasses, to name just a few. Avoid products that have sugar or other sweeteners high on the ingredients list.</p>
            </li>
        </ol>
        <p>Although carbohydrates have just 4 calories per gram, the high sugar content in snack foods means the calories can add up quickly, and these "empty calories" usually have few other nutrients.</p>
    </div>
</main>