@page
@model Bagrot_HTML.Pages.food_labelsModel
@{
}
<link href="~/css/stylesheet.css" rel="stylesheet" />

<div>
    <h1>food labels</h1>
    <hr />
</div>
<div class="box">
    <h1>What's on Food Labels?</h1>
    <p>The U.S. Food and Drug Administration (FDA) and the U.S. Department of Agriculture (USDA) require labels on almost all packaged foods. The information usually is on the back or side of packaging under the title "Nutrition Facts." </p>
    <p>The nutrition facts label includes:</p>
    <ul>
        <li>
            serving size
        </li>
        <li>
            calories
        </li>
        <li>
            % daily values
        </li>
        <li>
            <p>nformation about fat, cholesterol, fiber, added sugars, protein, and other nutrients</p>
        </li>
    </ul>
    <p>Other information on the food label:</p>
    <ul>
        <li>
            <p>content claims, such as "light" or "low-fat," that must meet strict government definitions so that they are accurate and consistent from one food to another</p>
        </li>
        <li>
            <p>health claims, like "While many factors affect heart disease, diets low in saturated fat and cholesterol may reduce the risk of this disease," which must meet government requirements for approval</p>
        </li>
        <li>
            <p>ingredients list</p>
        </li>
    </ul>
    <p>To make healthy, informed food choices, learn how to read the nutrition facts label and understand food label claims.</p>
</div>
<div class="box">
    <h1>Food Label Claims</h1>
    <p>Manufacturers often make claims about the healthfulness of a food on the front of a package. These claims must meet FDA standards. Some common food claims: </p>
    <ul>
        <li>Reduced fat or sugar means that a product has 25% less fat or sugar than the same regular brand.</li>
        <li>Light means that the product has 50% less fat or 1/3 less calories than the same regular product.</li>
        <li>Free means as little as possible of a nutrient, like sugar, fat, or gluten.</li>
        <li>Healthy means the food is low in fat or saturated fat, cholesterol, sodium and is a good source of important nutrients.</li>
        <li>USDA 0rganic means the food has at least 95% organic ingredients with no synthetic growth hormones, antibiotics, pesticides, biotechnology, synthetic ingredients or irradiation.</li>
    </ul>
    <p>Keep in mind that some claims (like natural, low in fat, or organic) do not necessarily mean the product is healthy or low in calories.</p>
</div>
<div class="box">
    <h1>Nutrition Facts Label</h1>
    <p>Check out what you can learn from the Nutrition Facts label.</p>
    <h2>Serving Size and Servings Per Container</h2>
    <p>Serving size is based on the amount that people typically eat. All nutritional information on the label is based on the serving size. So if a serving size is 2 cookies and you eat 4 cookies — which would be 2 servings — you need to double all the nutrition information.</p>
    <p>The number of servings per container tells you how many serving sizes are in the whole package.</p>
    <h2>Calories</h2>
    <p>A calorie is a unit of energy that measures how much energy a food provides to the body. The number of calories that's listed on the food label indicates how many calories are in one serving.</p>
    <h2>Percent Daily Values</h2>
    <p>Percent daily value is most useful for seeing whether a food is high or low in nutrients:</p>
    <ul>
        <li>A food with 5% or less of a nutrient is low in that nutrient.</li>
        <li>A food with 10%–19% of a nutrient is a good source of that nutrient.</li>
        <li>A food with 20% or more of a nutrient is high in that nutrient.</li>
    </ul>
    <p>The information on food labels is based on an average diet of 2,000 calories per day. But the actual number of calories and nutrients that kids need will vary according to their age, weight, gender, and level of physical activity. (For more guidance, check out the <link href="https://www.myplate.gov" />)</p>
    <h2>Total Fat</h2>
    <p>This number indicates how much fat is in a single serving of food. Although too much fat can lead to health problems, our bodies do need some fat every day.</p>
    <p>Fats are an important source of energy — they contain twice as much energy per gram as carbohydrates or protein. Fats provide insulation and cushioning for the skin, bones, and internal organs. Fat also carries and helps store certain vitamins (A, D, E, and K).</p>
    <h2>Saturated Fat and Trans Fat</h2>
    <p>Saturated fats and trans fat are often called "bad fats" because they raise cholesterol and increase a person's risk for developing heart disease. </p>
    <p>Saturated fats should account for less than 10% of the calories that kids eat each day. Trans fat should be as low as possible (less than 1% of total calories).</p>
    <h2>Unsaturated Fat</h2>
    <p>Unsaturated fats may also be listed under total fat. Unsaturated fats are often called "good fats" because they don't raise cholesterol levels as saturated fats do. Most fats should come from sources of unsaturated fats.</p>
    <h2>Cholesterol</h2>
    <p>Cholesterol is important in building healthy cells, and making vitamin D and some hormones. It can become a problem if the amount in the blood is too high, increasing a person's chances of having a heart attack or stroke later in life.</p>
    <h2>Sodium</h2>
    <p>Sodium is part of salt. Sodium is needed for fluid balance, but too much can contribute to high blood pressure. Almost all foods have small amounts of sodium, but many processed foods are high in sodium.</p>
    <h2>Total Carbohydrate</h2>
    <p>Carbohydrates are an important source of energy. The food label gives total carbohydrates along with fiber, total sugars, and added sugars.</p>
    <h2>Dietary Fiber</h2>
    <p>Dietary fiber itself has no calories and is a necessary part of a healthy diet. Fiber can help you feel full and promotes bowel regularity. High-fiber diets can help lower cholesterol levels and may help reduce the risk of colon cancer.</p>
    <h2>Sugars</h2>
    <p>Some foods naturally contain sugar, like fruit and milk. Snack foods, candy, and soda, on the other hand, often have added sugars. Added sugars add calories without important nutrients. The 2020 Dietary Guidelines for Americans recommends limiting calories from added sugars to less than 10% of daily calories. For a 2,000-calorie diet, that’s less than 50 grams of added sugars a day.</p>
    <h2>Protein</h2>
    <p>Protein makes up most of the body — including muscles, skin, organs and tissues, and the immune system. If the body doesn't get enough carbohydrates or fats, it can use protein for energy.</p>
</div>