@page
@model Bagrot_HTML.Pages.GalaryModel
@{
    ViewData["Title"] = "Galary";
}
<link href="~/css/galartstylesheet.css" rel="stylesheet" />
<link href="~/css/stylesheet.css" rel="stylesheet" />
<script src="~/js/galaryjavascript.js"></script>

<main>
    <div class="grid">
        <img id="1" class="image" src="~/image/galary/galaertimage1.png" onclick="changeImage(1)" />
        <img id="2" class="image" src="~/image/galary/galaryimage2.png" onclick="changeImage(2)" />
        <img id="3" class="image" src="~/image/galary/galaryimage3.png" onclick="changeImage(3)" />
        <img id="4" class="image" src="~/image/galary/galaryimage4.png" onclick="changeImage(4)" />
        <img id="5" class="image" src="~/image/galary/galaryimage5.png" onclick="changeImage(5)" />
        <img id="0" class="middleImage" src="~/image/galary/galaryimage0.png" />
        <img id="6" class="image" src="~/image/galary/galaryimage6.png" onclick="changeImage(6)" />
        <img id="7" class="image" src="~/image/galary/galaryimage7.png" onclick="changeImage(7)" />
        <img id="8" class="image" src="~/image/galary/galaryimage8.png" onclick="changeImage(8)" />
        <img id="9" class="image" src="~/image/galary/galaryimage9.png" onclick="changeImage(9)" />
        <img id="10" class="image" src="~/image/galary/galaryimage10.png" onclick="changeImage(10)" />
        <img id="11" class="image" src="~/image/galary/galaryimage11.png" onclick="changeImage(11)" />
        <img id="12" class="image" src="~/image/galary/galaryimage12.png" onclick="changeImage(12)" />
    </div>
</main>