<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.png" />
</head>
<body>
        <nav class="navbar">
            <ul>
                <li><a asp-page="/Home">Home</a></li>
                <li><a asp-page="/Carbohydrates and Sugar">Carbohydrates and Sugar</a></li>
                <li><a asp-page="/food labels">food labels</a></li>
                <li><a asp-page="/Galary">Galry</a></li>
                <li><a asp-page="/Admin">Admin</a></li>
                <li><a asp-page="/Register">Register</a></li>
                <li><a asp-page="/Login">Login</a></li>
            </ul>
        </nav>

        <div>
            @RenderBody()
        </div> 

        <footer>

        </footer>
</body>
</html>
