<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav>
            
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Home">Home</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/Carbohydrates and Sugar">Carbohydrates and Sugar</a>
            </li>
        </nav>

        @RenderBody()
    </div>
</body>
</html>
