<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav class="navbar">
            <ul>
                <li><a class="nav-link text-dark" asp-area="" asp-page="/Home">Home</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-page="/Carbohydrates and Sugar">Carbohydrates and Sugar</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-page="/food labels">food labels</a></li>
            </ul>
        </nav>

        @RenderBody()
    </div>
</body>
</html>
